* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto mono", Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #313131;
}

.margin-top-26 {
  margin-top: 26px;
}

.wrapper-flex {
  display: flex;
  justify-content: space-around;
}

.center-content {
  max-width: 1000px;
  display: grid;
  grid-auto-flow: row;
  min-height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
  align-items: center;
  z-index: 100;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#topSide {
  grid-template-areas: "logo menu";
  line-height: 2.3rem;
  font-size: 2.3rem;
  padding: 0 5px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  z-index: 2;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
}

#logo {
  color: #f5e6c8;
}

#menu {
  font-size: 1rem;
  line-height: 1rem;
  color: #616161;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  width: fit-content;
}

.button-link {
  text-decoration: none;
  color: #616161;
  padding: 10px;
  transition: color 0.3s;
}

.button-link:hover {
  color: #cac5c5;
}

/* #middleSide {
} */

#mainInput {
  display: block;
  margin: 0;
  opacity: 0;
  border: none;
  outline: none;
  resize: none;
  position: fixed;
  z-index: -1;
  cursor: default;
}

#detail-board {
  transition: opacity 0.3s;
}

.detail {
  display: inline-block;
  color: #f66e0d;
  font-size: 1.5em;
  font-weight: bold;
}

.hidden {
  opacity: 0;
}

#word-wrapper {
  line-height: 2;
  /* letter-spacing: 1px; */
  font-size: 1.5em;
}

.cursor {
  animation: animated_cursor 2s 0s infinite;
}

@keyframes animated_cursor {
  from {
    border-left: 2px solid #f66e0d;
  }
  to {
    border-left: 2px solid transparent;
  }
}

.word {
  display: inline-block;
}

.correctChar {
  color: #f5e6c8;
}

.wrongChar {
  color: #ff1717;
}

.extra {
  color: #ef3f3f80;
}

.result-key {
  letter-spacing: 2px;
  color: #616161;
  font-size: 24pt;
  margin-bottom: -20px;
}

.result-value {
  color: #f66e0d;
  font-size: 60pt;
  font-weight: 100;
  letter-spacing: -6px;
}

.input-generic {
  border: none;
  outline: none;
  padding: 1em;
  border-radius: 10px;
  background-color: #3d3d3d;
  width: 20em;
  font-size: 12pt;
  color: #f5e6c8;
}

/* #bottomSide {
} */

.popup-animation {
  animation: fadeIn 2s 0s 1;
  -webkit-animation: fadeIn 2s 0s 1;
}

.btn-generic {
  cursor: pointer;
  color: #616161;
  transition: color 0.2s;
  padding: 1rem 2rem;
}

.btn-generic:hover {
  color: #f66e0d;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: rgba(17, 17, 17, 0.932);
  color: #fff;
  text-align: center;
  /* border-radius: 6px; */
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent rgba(17, 17, 17, 0.932) transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
/* .popup .show {
  visibility: visible;
  -webkit-animation: commingDown 0.3s;
  animation: commingDown 0.3s;
} */

.popup:hover .popuptext {
  visibility: visible;
  -webkit-animation: commingDown 0.3s;
  animation: commingDown 0.3s;
}

@-webkit-keyframes commingDown {
  from {
    top: 50%;
    opacity: 0;
  }
  to {
    top: 150%;
    opacity: 1;
  }
}

@keyframes commingDown {
  from {
    top: 50%;
    opacity: 0;
  }
  to {
    top: 150%;
    opacity: 1;
  }
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
